* {
  padding: 0;
  margin: 0;
}

.banner {
  background-image: url("images/banner/banner1.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}
.headings {
  text-align: right;
  position: absolute;
  left: 65%;
  top: 70%;
  transform: translateX(-10%) translateY(-90%);
}

.headings h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  margin-bottom: 25px;
}
.headings p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 30px;
}

.contact {
  background: #f15b22;
  border-radius: 5px;
  padding: 20px 25px;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
.flex-1 {
  display: flex;
  gap: 150px;
  align-items: center;
  margin: 0 350px;
}

.title-1 {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  font-family: "Work Sans";
  margin-bottom: 25px;
}
.sub-title-1 {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans";
  margin-bottom: 16px;
}

.p-1 {
  margin-bottom: 10px;
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans";
}
.my-failure {
  margin-bottom: 130px;
}
.tik {
  display: flex;
  gap: 10px;
}
.title-2 {
  text-align: center;
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  font-family: "Work Sans";
  margin-bottom: 50px;
}

.flex-2 {
  display: flex;

  justify-content: center;
  justify-content: space-around;
  text-align: center;
}

.sub-title-2 {
  margin-top: 50px;
  color: #737272;
  font-weight: 500;
  font-size: 25px;
  font-family: "Work Sans";
}

.flexing-4 {
  margin-bottom: 130px;
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.background-2 {
  width: 85%;
  height: 50vh;
  background-image: url("images/gradient2.png"), url("images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 200px;
}
.last-p {
  padding: 200px 100px;
}
.title-3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  font-family: "Work Sans";
}

.contact2 {
  margin-top: 25px;
  height: 65px;
  background: #ffffff;
  border-radius: 5px;
  color: #f15b22;
  font-weight: 600;
  font-size: 20px;
  font-family: "Work Sans";
  padding: 20px 35px;
  border: 0;
}
.margin {
  margin-bottom: 130px;
}
.flex3 {
  display: flex;
  gap: 500px;
  margin: 0 200px;
}
.footer {
  width: 100%;
  height: 577px;
  background: #151414;
}
.footer-title {
  color: #f8f8f8;
  font-weight: 700;
  font-size: 45px;

  font-family: "Work Sans";
}

.footer-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans";
  margin-top: 15px;
  margin-bottom: 25px;
}

.middle {
  margin-top: 180px;
}
.heading-4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  font-family: "Work Sans";
}
.form {
  border: 1px solid #ffffff;
  border-radius: 8px;
  height: 40px;
  width: 325px;
  padding: 21px 21px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.middle {
  margin-top: 150px;
}
